<% if user_signed_in? %> 
  <h1 class="badge bg-dark text-wrap white" style="width: 100vw; height: 40px; font-size: 30px;">Products</h1>
  <%= link_to "new product", new_product_path, class: "part" %>
  <table class="table table-dark table-striped custom" >
    <thead>
      <tr>
        <th>product_name</th>
        <th>price</th>
        <th>description</th>
        <th colspan="2">actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.product_name %></td>
          <td><%= product.price %></td>
          <td><%= product.description %></td>
          <td><button class= "btn btn-light"><%= link_to "edit", edit_product_path(product) %></button></td>
          <td><%= button_to "destroy", product_path(product), method: :delete, class: "btn btn-light" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger white" %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>